@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.podcast-head-section-bg {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/podcasts-bg.png");
    background-size: cover;
    height: 30vh;
}

.podcast-heading {
    font-family: "Roboto";
    color: #ffffff;
    padding: 13px;
    font-size: 30px;
}

.podcast-bottom-section-bg {
    background-color: #ffffff;
}

.puri-jagannadh-img {
    width: 180px;
    padding: 15px;
}

.puri-name {
    font-family: "Roboto";
    color: #151765;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.No-of-episodes {
    font-family: "Roboto";
    color: #5a7184;
    font-size: 15px;
    text-align: center;
}





/* puri section*/
.puri-head-section-bg {
    background-color: #151765;
    background-size: cover;
    height: 23vh;
}

.puri-image-margin {
    padding: 15px;
    width: 160px;
    height: 140px;
}

.puri-page-head1 {
    font-family: "roboto";
    font-size: 10px;
    color: #ffffff;
}

.puri-page-main-head {
    font-family: "roboto";
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

.puri-page-head2 {
    font-family: "roboto";
    font-size: 13px;
    color: #ffffff;
}

.head-adjust {
    padding: 20px;
    width: 300px;
}

.adjust-main-head {
    margin: 0px;
}

.puri-page-bottom-bg {
    background-color: #ffffff;
    background-size: cover;
    height: 77vh;
}

.puri-page-head4 {
    font-family: "roboto";
    font-size: 15px;
    color: #151765;
    font-weight: bold;
}

.puri-page-main-head5 {
    font-family: "roboto";
    font-size: 15px;
    color: #5a7184;

}

.puri-page-head5 {
    font-family: "roboto";
    font-size: 13px;
    color: #5a7184;
}

.button-align {
    text-align: end;
}

.button {
    color: #ffffff;
    font-size: 10px;
    background-color: #151765;
    border-radius: 10px;
    width: 60px;
    margin: 10px;

}

.marg {
    margin: 5px;
  }
